ConfigurationSectionDesignerDemo/ConfigurationSectionDesignerDemo/ConfigurationSectionDesigner1.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ConfigurationSectionDesignerDemo" elementFormDefault="qualified" targetNamespace="urn:ConfigurationSectionDesignerDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="angusSettings" type="tns:ConfigurationSectionDesignerDemo.AngusSettingsCT" />
	<xs:complexType name="ConfigurationSectionDesignerDemo.AngusSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="tenantApiSettings" type="tns:ConfigurationSectionDesignerDemo.TenantApiSettingsCT">
				<xs:annotation>
					<xs:documentation>The TenantApiSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="generalSettings" type="tns:ConfigurationSectionDesignerDemo.GeneralSettingsCT">
				<xs:annotation>
					<xs:documentation>The GeneralSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ConfigurationSectionDesignerDemo.TenantApiSettingsCT">
		<xs:attribute name="baseUrl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BaseUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tokenEndpoint" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TokenEndpoint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="clientId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ClientId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="clientSecret" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ClientSecret.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="buildingId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BuildingId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="grantType" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The GrantType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scope" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Scope.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numImmediateRetries" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The NumImmediateRetries.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numDelayedRetries" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The NumDelayedRetries.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="delaySecs" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The DelaySecs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="retryStatusCodes" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RetryStatusCodes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConfigurationSectionDesignerDemo.GeneralSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="filters" type="tns:ConfigurationSectionDesignerDemo.FiltersCT">
				<xs:annotation>
					<xs:documentation>The Filters.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="tenantName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TenantName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="usesVerifyStatus" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UsesVerifyStatus.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="verifyDelay" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The VerifyDelay.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="facilityCode" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FacilityCode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="usesEmailNotification" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UsesEmailNotification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fromEmailAddress" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FromEmailAddress.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="toEmailAddresses" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ToEmailAddresses.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConfigurationSectionDesignerDemo.FiltersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="filter" type="tns:ConfigurationSectionDesignerDemo.FilterCT">
				<xs:annotation>
					<xs:documentation>The Filter Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ConfigurationSectionDesignerDemo.FiltersRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ConfigurationSectionDesignerDemo.FiltersClearCT" />
	<xs:complexType name="ConfigurationSectionDesignerDemo.FilterCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
